/* .content_all {
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main_title {
    color: #2E86C1;
    font-size: 30px;
    margin-left: 40%;
    font-weight: bold;
}

.divStyle {
    margin: 40px;
    background-color: #fff;
}

.label_title {
    color: #2E86C1;
}

.label_title_del {
    color: red;
}

.lb_bold {
    font-weight: 600;
}

.centerElement {
    margin-left: 45%;
}



#page-numbers {
    list-style: none;
    display: flex;
}
  
#page-numbers > li {
    margin-right: 1em;
    color: blue;
    user-select: none;
    cursor: pointer;
}
   */