::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
.shadowBox {
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 15px #999;
}

.review {
    width: 375px;
    height: 657px;
}

.imgFrame {
    max-width: 325px;
    height: 222px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    resize: none;
}

.my-modal-lg {
    width: auto;
    min-width: 992px;
}

.my-modal-dialog {
    width: 100%;
    height: 100%;
    margin: 2 2 2 2;
    padding: 0;
    min-width: 768px;
    max-width: 100% !important;
    padding-right: 20px !important; 
    padding-left: 20px !important 
 }

/* .modal-content {
  padding-right: 20px !important; 
  padding-left: 20px !important;
} */

.editorClassName {
    height: 200px !important;
}

.rdw-editor-toolbar .hidden {
    display: none
}

.p { display: inline-block; }

/* input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
} */
