.login_title {
    /* text-align: center; */
    color: #2E86C1;
}

.label_color {
    color: #2E86C1;
}

.btn_style {
    color: white;
    background-color: #2E86C1;
}

.note_title {
    color: #2E86C1; 
    margin-top: 10px;
    /* font-style: italic; */
}

.note_title_err {
    color: red; 
    margin-top: 10px;
    font-style: italic;
}