body {
  background-color: #F4F5FA;
}
a {
  color: $text-primary;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
}
.btn-primary {
  background-color: $bg-primary;
  border-color: $bg-primary;
  &:hover {
    background-color: $bg-primary-hover;
    border-color: $bg-primary-hover;
  }
}
.card {
  background-color: #fff;
  box-shadow: -2px 3px 5px 2px #e2e2e2;
  border: 0;
  .card-header {
    margin-bottom: 0;
    border-bottom: 1px solid #f5f5f5;
    h3 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 18px;
      color: $text-primary;
    }
  }
}
.table {
  border: 0;
  box-shadow: -2px 3px 5px 2px #e2e2e2;
  thead {
    th, td {
      background-color: $bg-primary;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      border-bottom: 0;
    }
  }
  tbody {
    th, td {
      border-bottom: 0;
      border-top: 0;
    }
    tr {
      background-color: #fff;
      td {
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
      &:nth-of-type(odd) {
        background-color: #f5f5f5;
      }
    }
  }
}

/* Sidebar */
.sidebar {
  background: #fff;
  .nav-dropdown.open {
    .nav-link {
      color: #1f428d;
      border-left: 0;
      background-color: #f3f3f3;
      &:hover {
        color: #fff;
        background-color: $text-primary;
      }
      &.active {
        color: #fff;
        background: $text-primary;
      }
    }
  }
  .nav-link {
    color: $text-primary;
    &:hover {
      background-color: $text-primary;
    }
    &.nav-dropdown-toggle {
      &:before {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
    &.active {
      color: #fff;
      background: $text-primary;
    }
  }
  .sidebar-minimizer {
    background-color: #fff;
    &:hover {
      background-color: $bg-primary;
    }
  }
}
/* End: Sidebar */
.badge-info {
  color: #fff;
  background-color: $bg-primary;
}
.sidebar-minimized .sidebar .sidebar-minimizer {
  background-color: $bg-primary;
}


// Author; Hiep tang
.input-config-constract::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
    font-style: "italic";
}
.input-config-constract::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
    font-style: "italic";
}
.input-config-constract:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
    font-style: "italic";
}
.input-config-constract:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
    font-style: "italic";
}

.input-list-element {
    padding: 5px 5px 0 5px;
    border: 1px solid #e4e7ea;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    cursor: text;
    span {
        padding: 1px 5px;
        background: #20a8d8;
        margin-right: 5px;
        border-radius: 5px;
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        b {
            margin-left: 10px;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15px;
            width: 15px;
            background: #FFF;
            border-radius: 50%;
            color: #20a8d8;
            cursor: pointer;
        }
    }
    input {
        display: inline-flex;
        width: 100px;
        min-width: initial;
        margin-bottom: 5px;
        border: none;
        padding: 0;
        height: initial;
        &:focus, &:hover, &:visited {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

.box-time-picker {
    display: flex;
    input {
        border-radius: 5px 0 0 5px;
        &:hover, &:focus, &:visited {
            box-shadow: none;
            outline: none;
        }
    }
    button {
        border: none;
        border-radius: 0 5px 5px 0;
        background: #20a8d8;
        color: #FFF;
        &:hover, &:focus, &:visited {
            box-shadow: none !important;
            outline: none !important;
            background: #20a8d8 !important;
            color: #FFF !important;
        }
    }
}

.time-picker-modal {
    position: fixed;
    z-index: 11111111111111111111111111111111111111111111111;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease-in-out;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    .card {
        width: initial;
        min-width: initial;
        max-width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;

        .card-body {
            width: initial;
            padding: 0;
        }
    }

}

.btn-form-config {
  button {
    min-width: 100px;
    border-radius: 5px;
    font-weight: 500;
  }
}

.pagination-news {
  ul {
    li.page-item {
      &.disabled {
        .page-link {
          background: #45ada8;
          color: #FFF;
        }
      }
      button {
        transition: all .35s ease-in-out;
        &:focus, &:hover, &:visited {
          box-shadow: none;
        }
      }
    }
  }
}

button {
  &:focus, &:active, &:visited {
      outline: none;
  }
}

a {
  text-decoration: none;
  &:hover, &:focus, &:visited {
      text-decoration: none;
  }
}

.editorClassName {
  height: 200px !important;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  .type-search {
      display: flex;
      align-items: center;
      width: 25%;
      margin-right: 30px;
      @media (max-width: 1365px) {
          width: 20%;
      }

      &.input-search{
          width: 15%;
          
      }

      label{ 
          margin: 0;
          white-space: nowrap;
          margin-right: 15px;
          font-weight: 500;
      }
      
  }

  button {
      margin-left: 15px;
      &:first-child {
          margin: 0;
      }
  }
}

.review-frame {
  padding: 15px;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0px 7px #333;

  img {
      max-width: 100%;
  }

  .review-avatar {
      text-align: center;
  }

  .review-title {
      text-align: center;
      margin: 15px 0;
  }

  .review-short-description {
      font-weight: 500;
  }
}

.rowEdit {
  &.normal {
      margin: 0 0 20px 0;
  }
  &.centerInline {
      display: flex;
  align-items: center;
  }
}


.group-filter-style {
  display: flex;
  margin-bottom: 15px;
  
  .btn-handle {
      width: 10%; 
      display: flex; 
      align-items: flex-end;
  }
}

.btn-filter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  color: #444;
  font-weight: normal;
}

.props-filter {
  width: 30%;
padding: 0 50px;
}


.btn-link {
  button, a {
      font-weight: 500;
      text-transform: uppercase;
      min-width: 100px;
  }
  a {
      margin-left: 20px;
  }
}

.btn-create {
  background: #FF4E50;
  display: inline-block;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-edit {
  background: #45ADA8 ;
  display: inline-block;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover, &:focus {
    color: #FFF;
    background: darken(#45ADA8, 10%)
  }
}

.file-button {
  padding: 8px 15px;
  color: #FFF;
  font-weight: 500;
  font-size: 13px;
  background: #20a8d8;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  &:hover, &:focus, &:visited {
      background: #1985ac;
  }
}

.table-list-preferential {
  th {
      white-space: nowrap;
  }
  td {
      vertical-align: middle;
  }
}

.btn-footer {
  text-align: center;
  button {
      min-width: 100px;
      text-transform: uppercase;
      font-weight: 500;   
      &:first-child {
          margin-right: 20px;
      }
  }
}

.shadowBox {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 15px #999;
  padding: 15px 20px;
  border-radius: 5px;
}

.btn-filter {
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  font-size: 13px;
  color: #FFF;
  font-weight: normal;
  background: #1f428d;

  &:hover, &:focus {
    background: lighten(#1f428d, 10%);
    color: #FFF;
  }
}

.popup-disable-network {
  position: fixed;
  background: rgba(0,0,0, 0.7);
  z-index: 111111;
  color: #FFF;
  right: -100%;
  top: 20px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px;
  transition: all .5s ease-in-out;

  &.open {
    right: 20px;
  }
}