button {
    &:focus, &:active, &:visited {
        outline: none;
    }
}

a {
    text-decoration: none;
    &:hover, &:focus, &:visited {
        text-decoration: none;
        color: #FFF;
    }
}

.editorClassName {
    height: 200px;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 25px 0 40px;
    width: 100%;

    .type-search {
        display: flex;
        align-items: center;
        width: 25%;
        margin-right: 30px;
        @media (max-width: 1365px) {
            width: 20%;
        }

        &.input-search{
            width: 15%;
            
        }

        label{ 
            margin: 0;
            white-space: nowrap;
            margin-right: 15px;
            font-weight: 500;
        }
        
    }

    button {
        margin-left: 15px;
        &:first-child {
            margin: 0;
        }
    }
}

.review-frame {
    padding: 15px;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0px 7px #333;

    img {
        max-width: 100%;
    }

    .review-avatar {
        text-align: center;
    }

    .review-title {
        text-align: center;
        margin: 15px 0;
    }

    .review-short-description {
        font-weight: 500;
    }
}

.rowEdit {
    &.normal {
        margin: 0 0 20px 0;
    }
    &.centerInline {
        display: flex;
		align-items: center;
    }
}


.group-filter-style {
    display: flex;
    margin-bottom: 15px;
    
    .btn-handle {
        width: 10%; 
        display: flex; 
        align-items: flex-end;
    }
}

.btn-filter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    color: #444;
    font-weight: normal;
}

.props-filter {
    width: 30%;
	padding: 0 50px;
}


.btn-link {
    button, a {
        font-weight: 500;
        text-transform: uppercase;
        min-width: 100px;
    }
    a {
        margin-left: 20px;
    }
}

.btn-create {
    background: #f86c6b;
    display: inline-block;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover, &:focus {
        color: #FFF !important;
    }
}

.btn-edit {
    background: #45ADA8 ;
    display: inline-block;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.file-button {
    padding: 8px 15px;
    color: #FFF;
    font-weight: 500;
    font-size: 13px;
    background: #20a8d8;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    &:hover, &:focus, &:visited {
        background: #1985ac;
    }
}

.table-list-preferential {
    th {
        white-space: nowrap;
    }
    td {
        vertical-align: middle;
    }
}

.btn-footer {
    text-align: center;
    button {
        min-width: 100px;
        text-transform: uppercase;
        font-weight: 500;   
        &:first-child {
            margin-right: 20px;
        }
    }
}

