::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
.shadowBox {
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 15px #999;
}

.review {
    width: 375px;
    height: 657px;
}

.imgFrame {
    max-width: 325px;
    height: 222px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    resize: none;
}

.my-modal-lg {
    width: auto;
    min-width: 992px;
}

.my-modal-dialog {
    width: 100%;
    height: 100%;
    margin: 2 2 2 2;
    padding: 0;
    min-width: 768px;
    max-width: 100% !important;
    padding-right: 20px !important; 
    padding-left: 20px !important 
 }

.editorClassName {
    height: 200px !important;
}

.rdw-editor-toolbar .hidden {
    display: none
}

.p { display: inline-block; }

input[type=file]{
  width:90px;
  color:transparent;
}

.content_all {
  background-color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main_title {
  color: #2E86C1;
  font-size: 30px;
  margin-left: 40%;
  font-weight: bold;
}

.divStyle {
  margin: 40px;
  background-color: #fff;
}

.label_title {
  color: #2E86C1;
}

.label_title_del {
  color: red;
}

.lb_bold {
  font-weight: 600;
}

.centerElement {
  margin-left: 45%;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 1em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
